body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px; commented coz html font-size created*/
    line-height: 1.7;
    color:$color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden; /* to avoid animation to be shaky */
    margin-bottom: 6rem;

    @include respond(phone) { //media query for phone
        font-size: 50%;
    }

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft; /*name of the Left animation*/
        animation-duration: 1s;
        animation-timing-function: ease-out; /*start faster then slow down*/
        
        @include respond(phone) { //media query for phone
            letter-spacing: 1rem;
            font-size: 5rem;
        }

        /*animation-delay: 3s; /*delay before animation start*/
        /*animation-iteration-count: 3; /*no. of times of animation*/
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) { //media query for phone
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port) { //media query for tab-port
        font-size: 3rem;

    }
    @include respond(phone) { //media query for phone
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1); //scale(1.1) = 110%
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}